<div class="row">
  <h1>WithTaskとは</h1>
  <div class="withtask-description">
    <p>タスクの記録と知識の共有を図れるサイトです。 <br>
    カレンダーを通じて日々のタスクを明確にすることが簡単にできます。<br>
    タスクを通じて得られた知見を記事として記録することができ、 <br>
    同じ目標を持つ他者へ発信することでモチベーションの維持に繋がります。 <br>
  </div>
</div>
<div class="row">
  <div id="slide-box-about">
    <div id="theTarget">
      <div class="image1"></div>
      <div class="image2"></div>
      <div class="image3"></div>
    </div>
  </div>
</div>