<h1>Homes#top_after_login</h1>
<p>Find me in app/views/homes/top_after_login.html.erb</p>

<div class="button"><%= link_to " タスク管理メニューへ ", tasks_path, class:"btn btn-default btn-lg", data: {"turbolinks" => false} %></div>
<div class="button"><%= link_to " 記事一覧へ ", articles_path, class:"btn btn-default btn-lg", data: {"turbolinks" => false} %></div>