/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

body{
    padding-top:70px;
    background-color: #f9f9f9;
}

p { line-height: 1.7 }

td.fc-sat {
    background-color: #eaf4ff;
}
td.fc-sun {
    background-color: #ffeaea;
}

#header {
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    width: 100%;
    z-index: 500;
    top: 0;
    position: fixed;
    background-color: rgba(255,255,255,0.8);
}

// サイドメニュー
#sidebar {
    width: 200px;
    margin-right: 40px;
}

.nav-contents {
    font-size: 20px;
    list-style: none;
}

.nav-menu {
    width: 70%;
    margin: 20px 0;
    border-bottom: solid 1px #3d5572;
}

.nav-li {
    margin: 10px 0;
}

// カレンダー
#calendar{
  width: 90%;
  margin: 0 auto;
}

// エラーメッセージの表示

.alert ul {
  list-style: none;
}

.alert-position{
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  color:#262626;
  background:#FFEBE8;
  text-align: left;
  border:2px solid #990000;
  padding:12px; font-weight:850;
  width: 400px;
}

// 更新ボタン
.update-button{
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #1a1aff;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 0.5em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #1a1aff;    /* 枠の指定 */
}

.update-button:hover{
  color         : #1a1aff;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

// devise機能のフラッシュメッセージ
.alert-notice{
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.alert-alert{
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

// ロゴ
.logo_image {
  height: 80px;
}