// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#nav-tag{
  list-style: none;
  overflow: hidden;
}

#nav-tag-li{
  float: left;
}

.article-search-position{
  margin-bottom :30px;
}

.article-sort-position{
  float: right;
}

.article-box{
  border-top: 1px solid rgba(0,0,0,0.12);
  padding: 10px;
}

.article-box1{
  margin: 10px;
}

.article-box2{
  margin-left: 5px;
}

.article_title{
  margin: 0;
  padding: 0;
  display: inline;
}

.tag_name{
  margin-left: 5px;
  padding: 0;
}

.favorite-comment{
  margin-left: 5px;
  padding: 0;
}

.article_comment_count{
  margin: 0;
  padding: 0;
}

.comment-box{
  border-top: 1px solid #C0C0C0;
  margin-bottom: 5px;
}

.comment_user_position{
  display: table;
  width: 100%;
}

.comment_user{
  display: table-cell;
  text-align: left;
}

.comment_created{
  display: table-cell;
  text-align: right;
}


.comment_position{
  position: relative;
  margin: 10px 0;
  position: relative;
}

#comment_destroy_positon{
  position: absolute;
  right: 0;
  bottom: 0;
}

.comment-show{
  margin-top: 50px;
}

.article-create-position{
  margin-left: 10px;
}

// ページング機能(未実装)
// .p-top {
//   min-width: 960px;
//   &__title {
//     text-align: center;
//     font-size: 16px;
//   }

//   &__introduce {
//     margin: 0 auto;
//     th {
//         padding: 0 15px;
//     }
//     td {
//       padding: 0 15px;
//     }
//   }
//   &__paginate {
//     text-align: center;
//     margin:0 auto;
//   }
// }