// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile{
  margin-bottom: 20px;
  font-size: 18px;
  font-style: oblique;
  font-weight: bold;
  padding: 10px;
}

.user-edit{
  width: 300px;
  padding: 10px;
  border: solid 1px #ccc;
  border-radius: 5px;
}

.password-edit{
  margin-bottom: 20px;
  font-size: 18px;
  font-style: oblique;
  padding: 10px;
}

.unsubscribe{
  margin-bottom: 20px;
  font-size: 18px;
  font-style: oblique;
  padding: 10px;
}

.password-update{
  width: 300px;
  padding: 10px;
  border: solid 1px #ccc;
  border-radius: 5px;
}

.mypage-back-position{
  margin-top: 30px;
}
.mypage-back{
  margin-bottom: 20px;
  font-size: 18px;
  font-style: oblique;
}