<ul>
  <% if user_signed_in? %>
    <li class="button greeting">ようこそ　<%= current_user.nickname %>さん！　</li>
    <li class="button"><%= link_to " ログアウト ", destroy_user_session_path, method: :delete, class:"btn btn-default btn-lg" %></li>
  <% else %>
    <li class="button"><%= link_to " 新規登録 ", new_user_registration_path, class:"btn btn-default btn-lg" %></li>
    <li class="button"><%= link_to " ログイン ", new_user_session_path, class:"btn btn-default btn-lg" %></li>
  <% end %>
</ul>